<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="item in items" v-bind:key="item.name">
                {{ item.name }}の個数 <input type="number" v-on:input="item.quantity = $event.target.value"
                    v-bind:value="item.quantity" min="0">
            </li>
        </ul>
        <div v-bind:style="errorMessageStyle">
            <ul>
                <li v-for="item in items" v-bind:key="item.name">
                    {{ item.name }}: {{ item.price }}円 × {{ item.quantity }}個 =
                    {{ item.price * item.quantity | numberWithDelimiter}}円
                </li>
            </ul>
            <p>小計: {{ totalPrice | numberWithDelimiter }}円</p>
            <p>合計(税込): {{ totalPriceWithTax | numberWithDelimiter}}円</p>
            <p v-show="!canBuy">小計{{ 1000 | numberWithDelimiter }}円以上からご購入いただけます</p>
            <button v-bind:disabled="!canBuy" v-on:click="doBuy">購入</button>
        </div>
    </div>

    <script>
        var items = [
            {
                name: "鉛筆",
                price: 300,
                quantity: 0
            },
            {
                name: "ノート",
                price: 400,
                quantity: 0
            },
            {
                name: "消しゴム",
                price: 500,
                quantity: 0
            }
        ]

        var vm = new Vue({
            el: "#app",
            data: {
                items: items
            },
            filters: {
                numberWithDelimiter: function (value) {
                    if (!value) {
                        return '0'
                    }
                    return value.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1,') //3桁にカンマ区切りする
                }
            },
            methods: {
                doBuy: function () {
                    alert(this.totalPriceWithTax + "円のお買い上げありがとうございます！")
                    this.items.forEach(function (item) {
                        item.quantity = 0
                    })
                }
            },
            computed: {
                totalPrice: function () {
                    return this.items.reduce(function (sum, item) {
                        return sum + (item.price * item.quantity)
                    }, 0)
                },
                totalPriceWithTax: function () {
                    return Math.floor(this.totalPrice * 1.08)
                },
                canBuy: function () {
                    return this.totalPrice >= 1000 //1000円以上から購入可能にする
                },
                errorMessageStyle: function () {
                    return {
                        border: this.canBuy ? ' ' : '1px solid red',
                        color: this.canBuy ? ' ' : 'red'
                    }
                }
            }
        })
    </script>
</body>

</html>