.nav-item{
    cursor: pointer;
}

h1 > div{ 
    font-family: "Nico Moji";
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    display: block;
    margin: 30px;
}
body > div:first-child{
    background-color:#00BCD4;
}
body > div:first-child > div{
    margin: auto;
    padding-bottom: 15px;
    overflow: hidden;
}
body > div:first-child > div p{
    margin-bottom: unset;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
    padding: 5px; 
}

.container-fluid >div{
    text-align: center;
}

.container-fluid > p::before,.container-fluid > p::after{
    content: "";
    display: block;
    width: 60px;
    border-top:2px solid black;
}
.container-fluid > p::before{
    margin-right: 10px;
}
.container-fluid > p::after{
    margin-left: 10px;
}
body > a > div{
    color: black;
    text-align: right;
    padding: 20px;
}

.nav-pills .nav-item i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}
.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #9c27b0;
    /* box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(156, 39, 176, 0.6); */
}
.nav-pills .nav-item .nav-link {
    text-align: center;
}

.hoge{
    background-color: #9c27b0;
    width: 100%;
    margin-bottom: 10px;
}